users:
  - userName: {{admin.username}}
    password: {{admin.password}}
    firstName: Hub
    lastName: Administrator
    displayName: Hub Administrator
    email: hubadmin@example.com
    memberOf:
      - HubAdministrators
