{
  "identities": [
    {
      "name": "HubAdministrator",
      "credentials": [
        {
          "accessKey": "{{s3_access_key_id}}",
          "secretKey": "{{s3_secret_access_key}}"
        }
      ],
      "actions": [
        "Read",
        "List",
        "Tagging",
        "Write"
      ]
    }
  ]
}
